body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 110%; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: inherit; }

h3 {
  font-size: 1.2rem;
  color: #ce902d; }

h4 {
  font-size: 1.0rem; }

.intro {
  line-height: 140%; }
  .intro span {
    color: #ce902d;
    font-weight: 500; }

.highlight {
  color: #ce902d;
  font-weight: 600; }

.text__part-1, .text__part-2 {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 140%; }

#engagements .intro {
  font-size: 1.1rem;
  font-weight: 500; }

#engagements .accordion {
  color: #ce902d; }

#engagements .accordion-content {
  line-height: 140%; }

#engagements .details__title {
  color: #ce902d;
  font-size: 1.1rem; }

#engagements .details {
  line-height: 140%; }

#pointsdevente .subtext {
  font-size: 0.8rem; }

#produits h3 {
  color: #ce902d; }

#produits h4 {
  color: #ce902d;
  font-weight: 300; }

#produits .items p {
  line-height: 120%;
  font-size: 0.9rem;
  font-weight: 300; }

#produits h5 {
  color: #ce902d;
  font-size: 1.2rem; }

#produits p .small {
  font-size: 0.8rem; }

.medium {
  font-weight: 500; }

#pointsdevente .schedule {
  font-size: 0.5rem; }

#pointsdevente .confinement {
  text-decoration: line-through; }

#pointsdevente i {
  font-size: 2.5rem; }

#contact .cap {
  color: #ce902d; }

#reservationSpec span {
  font-weight: 600; }

@media (max-width: 1089px) {
  .text__part-1, .text__part-2 {
    font-size: 1.2rem; } }

.navbar__logo {
  height: 200px;
  box-shadow: 1px 1px 3px; }

.navbar-brand {
  z-index: 1; }

.navbar-nav {
  width: 100%; }

.header__info-box {
  height: 100px;
  background-color: #ebebeb; }

.header__info-box img {
  height: 35px; }

.row {
  margin-right: 0;
  margin-left: 0; }

#mainNavbar {
  z-index: 2;
  height: 100px;
  background-color: #7d352e;
  opacity: 0.9;
  font-size: 1.1rem;
  font-weight: 300;
  text-shadow: 0 0 0.5px; }

.nav-link {
  color: white; }

.btn-div {
  position: absolute;
  top: 0px;
  right: 10vw;
  margin-top: 2px; }

#phone-num {
  float: left;
  margin-right: 2px;
  border: 2px solid #7d352e; }

#resa {
  float: left;
  border: 2px solid #7d352e; }

#contactLoad {
  display: none; }

@media (max-width: 1089px) {
  #header .container {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%; }
  #header .row {
    width: 100%; }
  .btn-div {
    right: 5vw; }
  #mainNavbar {
    font-size: 0.8rem; }
  .navbar__logo {
    height: 150px; } }

@media (max-width: 768px) {
  .navbar__logo {
    height: 80px; }
  #mainNavbar {
    height: auto;
    width: 100%; }
  #mainNavbar .title-div {
    padding: 15px 0; }
  #mainNavbar .title1 {
    width: 150px; }
  #mainNavbar .title2 {
    width: 165px; }
  .header__info-box {
    display: none; }
  #header .btn-div {
    display: none; } }

@media (max-width: 414px) {
  #mainNavbar .title1 {
    width: 80px; }
  #mainNavbar .title2 {
    width: 88px; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

main {
  background-color: white; }

html {
  scroll-behavior: smooth; }

.footer {
  background-color: #7d352e;
  font-size: 0.8rem;
  line-height: 100%;
  color: #F7F3F3; }
  .footer__link {
    font-size: 0.7rem;
    font-weight: 300; }
  .footer__link--social {
    font-size: 2.1rem; }
  .footer__developer {
    font-size: 0.7rem;
    font-weight: 200;
    font-style: italic; }
    .footer__developer--name {
      font-family: 'Sacramento', cursive;
      font-size: 1.4rem;
      font-style: normal; }
    .footer__developer--year {
      font-style: normal; }

.footer img {
  width: 350px; }

.intro__img img {
  max-width: 100%;
  object-fit: cover; }

#engagements .img-2 {
  max-height: 130px; }

#engagements .img-3 {
  max-height: 100px; }

.body {
  background-color: #ebebeb; }
  .body__heading {
    width: auto;
    height: 100px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    background-color: #7d352e;
    color: #F7F3F3;
    font-size: 0.9rem; }
    .body__heading h2 {
      font-size: 1.6rem;
      font-weight: 300; }

/* up arrow for back to top */
#back-to-top i {
  border: solid #EDEAE5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px; }

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg); }

/* up arrow for back to top end */
/* Scroll to top button */
#back-to-top {
  background-color: #ce902d;
  color: #EDEAE5;
  opacity: 0;
  transition: opacity .6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%; }

a#back-to-top {
  text-align: center;
  line-height: 0.5;
  padding-left: 1px;
  padding-top: 20px; }

#back-to-top.show {
  opacity: 0.8; }

.learn_more-obj {
  width: 60px;
  height: 30px;
  clip-path: polygon(0 0, 0 100%, 90% 50%);
  background-color: #ce902d;
  color: #ce902d; }

.details {
  background-color: white; }

#pointsdevente iframe {
  height: 250px;
  max-width: 100%; }

#contact select {
  background-color: #ebebeb;
  border: 2px solid #ce902d; }

#contact button {
  background-color: #ebebeb;
  border: 2px solid #ce902d; }

#reservationSpec,
#numberLabel,
#numberInput {
  display: none; }

.btn-submit {
  background-color: #ce902d; }

.btn-ingredients {
  border: none;
  background: none; }

@media (max-width: 768px) {
  #accueil {
    position: relative; }
  .body {
    background-color: white; } }

@media (max-width: 1089px) {
  .body__heading h2 {
    font-size: 1.2rem; } }

button.accordion {
  border: none;
  background-color: #ebebeb; }

.accordion::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: '\f055';
  color: #f2af4b;
  font-size: 0.9rem;
  padding-left: 5px; }

#accordion-arrows::after {
  content: '\f13a'; }

.accordion.is-open::after {
  content: '\f056'; }

#accordion-arrows.is-open::after {
  content: '\f139'; }

.accordion-content {
  color: transparent;
  padding: 0px;
  max-height: 0px;
  overflow: hidden;
  transition-property: max-height, color;
  transition-duration: 0.5s, 1s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0.4s; }

#pointsdevente button {
  display: inline; }

button.accordion-2 {
  border: none;
  background-color: #ebebeb; }

.accordion-2::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: '\f139';
  color: #f2af4b;
  font-size: 0.9rem;
  padding-left: 5px; }

.accordion-2.is-closed::after {
  content: '\f13a'; }

.accordion-content-2 {
  color: black;
  padding: 0px;
  max-height: 750px;
  overflow: hidden;
  transition-property: max-height, color;
  transition-duration: 0.5s, 1s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0.4s; }

#index-gallery .gallery-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 1%; }

#index-gallery .img1 {
  background-image: url("../images/PRODUITS/thumbs/img1.jpg"); }

#index-gallery .img2 {
  background-image: url("../images/PRODUITS/thumbs/img2.jpg"); }

#index-gallery .img3 {
  background-image: url("../images/PRODUITS/thumbs/img3.jpg"); }

#index-gallery .img4 {
  background-image: url("../images/PRODUITS/thumbs/img4.jpg"); }

#index-gallery .img5 {
  background-image: url("../images/PRODUITS/thumbs/img5.jpg"); }

#index-gallery .img6 {
  background-image: url("../images/PRODUITS/thumbs/img6.jpg"); }

#index-gallery .img7 {
  background-image: url("../images/PRODUITS/thumbs/img7.jpg"); }

#index-gallery .img8 {
  background-image: url("../images/PRODUITS/thumbs/img8.jpg"); }

#index-gallery .img9 {
  background-image: url("../images/PRODUITS/thumbs/img9.jpg"); }

#index-gallery .img10 {
  background-image: url("../images/PRODUITS/thumbs/img10.jpg"); }

#index-gallery .img11 {
  background-image: url("../images/PRODUITS/thumbs/img11.jpg"); }

#index-gallery .img12 {
  background-image: url("../images/PRODUITS/thumbs/img12.jpg"); }

#index-gallery .img13 {
  background-image: url("../images/PRODUITS/thumbs/img13.jpg"); }

#index-gallery .img14 {
  background-image: url("../images/PRODUITS/thumbs/img14.jpg"); }

#index-gallery .img15 {
  background-image: url("../images/PRODUITS/thumbs/img15.jpg"); }

#index-gallery .img16 {
  background-image: url("../images/PRODUITS/thumbs/img16.jpg"); }

#index-gallery .img17 {
  background-image: url("../images/PRODUITS/thumbs/img17.jpg"); }

#index-gallery .img18 {
  background-image: url("../images/PRODUITS/thumbs/img18.jpg"); }

#index-gallery .img19 {
  background-image: url("../images/PRODUITS/thumbs/img19.jpg"); }

#index-gallery .img20 {
  background-image: url("../images/PRODUITS/thumbs/img20.jpg"); }

#index-gallery .img21 {
  background-image: url("../images/PRODUITS/thumbs/img21.jpg"); }

#index-gallery .img22 {
  background-image: url("../images/PRODUITS/thumbs/img22.jpg"); }

.gallery-img div {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  background-color: white;
  opacity: 0; }

.gallery-img div:hover {
  opacity: 0.6;
  transition: all ease-in-out 100ms;
  text-decoration: none; }

.gallery-img a {
  font-size: 1.2rem;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; }

.img-window img {
  max-height: 80vh;
  max-width: 80vw;
  border: solid 3px rgba(255, 255, 255, 0.9);
  border-radius: 0.5%; }

.img-btn-next {
  display: block;
  position: fixed;
  top: 48vh;
  z-index: 500; }

.img-btn-fa-next {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8); }

.img-btn-fa-next:hover {
  color: white; }

.img-btn-prev {
  display: block;
  position: fixed;
  top: 48vh;
  z-index: 500; }

.img-btn-fa-prev {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8); }

.img-btn-fa-prev:hover {
  color: white; }

@media (max-width: 1089px) {
  .img-window img {
    max-width: 60vw; } }
