#index-gallery .gallery-img {
    width:100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 1%;
}

#index-gallery .img1 {
    
    background-image: url("../images/PRODUITS/thumbs/img1.jpg")
}

#index-gallery .img2 {
    background-image: url("../images/PRODUITS/thumbs/img2.jpg")
}

#index-gallery .img3 {
    background-image: url("../images/PRODUITS/thumbs/img3.jpg")
}

#index-gallery .img4 {
    background-image: url("../images/PRODUITS/thumbs/img4.jpg")
}

#index-gallery .img5 {
    background-image: url("../images/PRODUITS/thumbs/img5.jpg")
}

#index-gallery .img6 {
    background-image: url("../images/PRODUITS/thumbs/img6.jpg")
}

#index-gallery .img7 {
    background-image: url("../images/PRODUITS/thumbs/img7.jpg")
}

#index-gallery .img8 {
    background-image: url("../images/PRODUITS/thumbs/img8.jpg")
}

#index-gallery .img9 {
    background-image: url("../images/PRODUITS/thumbs/img9.jpg")
}

#index-gallery .img10 {
    background-image: url("../images/PRODUITS/thumbs/img10.jpg")
}

#index-gallery .img11 {
    background-image: url("../images/PRODUITS/thumbs/img11.jpg")
}

#index-gallery .img12 {
    background-image: url("../images/PRODUITS/thumbs/img12.jpg")
}

#index-gallery .img13 {
    background-image: url("../images/PRODUITS/thumbs/img13.jpg")
}

#index-gallery .img14 {
    background-image: url("../images/PRODUITS/thumbs/img14.jpg")
}

#index-gallery .img15{
    background-image: url("../images/PRODUITS/thumbs/img15.jpg")
}

#index-gallery .img16 {
    background-image: url("../images/PRODUITS/thumbs/img16.jpg")
}

#index-gallery .img17 {
    background-image: url("../images/PRODUITS/thumbs/img17.jpg")
}

#index-gallery .img18 {
    background-image: url("../images/PRODUITS/thumbs/img18.jpg")
}

#index-gallery .img19 {
    background-image: url("../images/PRODUITS/thumbs/img19.jpg")
}

#index-gallery .img20 {
    background-image: url("../images/PRODUITS/thumbs/img20.jpg")
}

#index-gallery .img21 {
    background-image: url("../images/PRODUITS/thumbs/img21.jpg")
}

#index-gallery .img22 {
    background-image: url("../images/PRODUITS/thumbs/img22.jpg")
}

.gallery-img div {
    position: relative;
    width:100%;
    height: 100%;
    padding-bottom: 100%;
    background-color: white;
    opacity: 0;  
}

.gallery-img div:hover {
    opacity: 0.6;
    transition: all ease-in-out 100ms;
    text-decoration: none;
}

.gallery-img a {
    font-size: 1.2rem;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


// popup window when clicked

.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
    border: solid 3px rgba(255, 255, 255, 0.9);
    border-radius: 0.5%;
}

// Next image
.img-btn-next {
    display: block;
    position: fixed;
    top: 48vh;
    z-index: 500;
}

.img-btn-fa-next {
    font-size: 1.2rem;
    color:rgba(255, 255, 255, 0.8);
}

.img-btn-fa-next:hover {
    color: rgba(255, 255, 255, 1);
}

.img-btn-prev {
    display: block;
    position: fixed;
    top: 48vh;
    z-index: 500;
}

.img-btn-fa-prev {
    font-size: 1.2rem;
    color:rgba(255, 255, 255, 0.8);
}

.img-btn-fa-prev:hover {
    color: rgba(255, 255, 255, 1);
}

@media (max-width:1089px) {
    .img-window img {
        max-width: 60vw;
    }
}