.navbar__logo{
    height: 200px;
    box-shadow: 1px 1px 3px;
}

.navbar-brand {
    z-index: 1;
}

.navbar-nav {
    width: 100%;
}

.header__info-box{
    height: 100px;
    background-color: $gray;
}

#mainNavbar {
    height: 100px;
    background-color: $brown;
    font-size: 1.1rem;
    font-weight: 300;
    text-shadow: 0 0 0.5px;
}

.nav-link {
    color: white;
}

.btn-div {
    position: absolute;
    top: 0px;
    right: 200px;
    margin-top: 2px;
}

#phone-num {
    float:left;  
    margin-right: 2px;  
    border: 2px solid $brown;
}
#resa {
    float:left;
    border: 2px solid $brown;
}

#contactLoad {
    display:none;
}