.intro__img img {
    max-width: 100%;
    object-fit: cover;
}

.jumbo-image-1 {
    height: 500px;
    background: url("../images/VF/LA_PREPARATION-1.jpg");
    background-size: cover;
    background-position: center;
} 


#engagements {
    & .img-2 {
    max-height: 130px;
    }

    & .img-3 {
    max-height: 100px;        
    }
}


