$gray: #ebebeb;
// $brown: #847765;
// $orange: #DD8100;
// $light-orange: rgb(218, 162, 83);
// $light-gray: #F7F3F3;

// $gray: #798351;
$brown: #7d352e;
$orange: #ce902d;
$light-orange: rgb(242, 175, 75);
$light-gray: #F7F3F3;